@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

html {
    height: 100%;
}

body {
    width: 100%;
    min-width: 300px;
    margin: auto;
    margin-top:50%;
    background-image: url("../images/swirls.jpg");
}

@keyframes movingHeader{
0% {
    transform: translateY(-0%);
  }
  100% {
        transform: translateY(-40%);
  }
}

@keyframes movingBody{
    0% {
        transform: translateY(-0%);
    }
    100% {
        transform: translateY(-10%);
    }
}

#pageHeader {
    font-family: 'Leckerli One', cursive;
    width: 100%;
    /*width: 60%;*/
    /*max-width: 300px;*/
    padding-bottom:0.5em;
    min-width: 200px;
    margin: 0em;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 1em;
}


#name {
    font-family: 'Caveat Brush', cursive;
    font-size: 3em;
    margin: 0em 0em 0.5em 0em;
}

#type {
    margin-left: 1em;
    font-style: italic;
}

#topBanner {
    padding: 1em 0em 1em 0em;
    margin: auto;
    width: 100%;
}

#searchBox {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 25px;
    padding: 0.5em;
}

#searchInput {
    padding: 0.5em;
    border: none;
    outline: none;
    width: 82%;
}

#errorBox {
    text-align: center;
    color: red;
    font-weight: bold;
    display: none;
    padding-bottom: 0em;
}

#mainBody {
    display: none;
    padding: 2em;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

#navColumns {
    padding-top: 2em;
}

footer {
    height: 2em;
}

label {
    font-size: 1.5em;
    text-decoration: underline;
}


.pageHeaders {
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: normal;
}

 /* Gets rid of bullet point and just leaves the label*/
.tab [type=radio] {
    display: none;       
}

.content {
    padding: 0.5em 0em 2em 0em
}

#origin {
    height: 12em;
}

#map {
    height: 100%;
    width: 100%;
 }

 .navigationList {
    list-style: none;
    margin: auto;
    padding: 0em;
    text-align: center;
 }
 
 .navigationList li{
     display: inline;
 }
 
 .navigationButton {
    border-radius: 25px;
    width: 4em;
    height: 4em;
    border: 0.15em solid white;
    background-color: gray;
    color: white;
    -webkit-transition: border 0.25s; 
    transition: border 0.25s;
    cursor: pointer;
 }
 
.navigationButton:hover {
    background-color: #AFDCEC;
    border: 0.15em solid #AFDCEC;
 }
 
 #wordList {
     margin-top: -0.75em;    
 }
 
 #rightPanel {
    text-align: center;
 }
 
 .navLink {
     border: none;
     background-color: white;
     text-decoration: underline;
     font-size: 1.2em;
     padding-bottom: 10px;
     cursor: pointer;
 }
 
 #randomWord {
        border: none;
        border: 0.1em solid gray;
        border-radius: 15px;
        background-color: #73A0B0;
        text-align: center;
        font-size: 1.2em;
        color: white;
        cursor: pointer;
        margin-bottom: 0.5em;
        padding: 5px 20px;
    }
    
    #randomWord:hover {
        color: black;
        border-color: #AFDCEC;
        background-color: #AFDCEC;
    }
 
/* ========================== FIRST BREAKPOINT ========================== */
@media screen and (min-width: 500px) {
    /* styles for above mobile sizes  - can add hover comands here*/

    @keyframes movingHeader{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-45%);
        }
    }

    @keyframes movingBody{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-18%);
        }
    }
    
    body {
        width: 90%;
        margin: auto;
        padding: 1em 0em 1em 0em;
    }
    
    #mainBody {
        overflow: auto; 
    }
    
    h1 {
        padding-top:25%;
    }
    
    #searchInput {
        width: 88%;
    }

    #magGlass {
        cursor: pointer;
    }

    #tabs {
        position: relative;   /* Puts content underneath these*/
        min-height: 500px;    /* Keeps the minimum height needed for the whole thing */
        margin: 25px;         /* Needed to move tabs down*/
        width: 100%;
    }

    /*Puts bullet point labels next to each other*/
    .tab {                  
        float: left; 
    }

    /* Decoration and padding to make labels look lik tabs*/
    .tab label {            
        padding: 0.75em 1em 0.25em 1em; 
        border-bottom: 0.3em solid gray;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        font-size: 1em;
        text-decoration: none;
    }

    /* Decoration and padding to make labels look lik tabs*/
    .tab label:hover {            
        color: #73A0B0;
        border-bottom: 0.3em solid #73A0B0;
    }
    
    /*where details are displayed. Makes box boundaries*/
    .content {   
        position: absolute;
        top: 3em;
        left: 0%;               /*very important! Puts content on top of each other*/ 
        background: white;
        width: 80%;
        height: 80%;
        border: 0.1em solid #AFDCEC; 
        padding: 1em;
    }

    #origin {
        height: 80%;
    }
    
    .pageHeaders {
        text-align: center;
        font-family: 'Caveat Brush', cursive;
        text-decoration: none;
        font-size: 1.6em;
        margin-bottom: 0.5em;
    }
    
    [type=radio]:checked ~ label {
        background: white;
        border-bottom: 0.3em solid #AFDCEC;
    }
    
    /*Makes content priority for when the check box is selected*/
    [type=radio]:checked ~ label ~ .content {
        z-index: 1;                       
    }
}


/* ========================== Middle BREAKPOINT ========================== */
@media screen and (min-width: 750px) {

    body {
        width: 80%;
        margin: auto;
    }

    #rightPanel {
        float: right;
        width: 23%;
        border: 5px solid #AFDCEC;
        margin: auto;
        padding: 0.3em;
        border-radius: 20px;
        margin: 0em 1em 1em 0em;
    }
    
    #tabs {
        float: left;
        width: 70%;
        margin: 0em;
    }
    
    .navigationButton {
        width: 2.5em;
        height: 2.5em;
        margin: 0.15em;
    }
 
    @keyframes movingHeader{
        0% {
            transform: translateY(-0%);
}
        100% {
            transform: translateY(-48%);
        }
    }

    @keyframes movingBody{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-22%);
        }
    }
    
    #randomWord {
        font-size: 1em;
        padding: 5px 10px;
    }
}

/* ========================== Mini BREAKPOINT ========================== */

@media screen and (min-width: 808px) {
    
    .navigationButton {
        width: 2.75em;
        height: 2.75em;
    }
}


/* ========================== Last BREAKPOINT ========================== */
@media screen and (min-width: 960px) {

    @keyframes movingHeader{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-60%);
        }
    }

    @keyframes movingBody{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-32%);
        }
    }
    
    body {
        width: 65%;
        margin: auto;
    }
    
    #rightPanel {
        width: 23%;
    }

    #searchBox {
        width: 50%;
    }

    #topBanner {
        padding: 2em 0em 1em 0em;
    }
    
    .navigationButton {
        width: 2.6em;
        height: 2.6em;
    }
}

/* ========================== Mini BREAKPOINT ========================== */

@media screen and (min-width: 1136px) {
    
    .pageHeaders {
        font-size: 2em;
    }
}

/* ========================== Mini BREAKPOINT ========================== */

@media screen and (min-width: 1200px) {
   #rightPanel {
        width: 25%;
    }
    
    .navigationButton {
        width: 3.5em;
        height: 3.5em;
    }
    
    #randomWord {
        font-size: 1.4em;
        padding: 5px 20px;
    }
}

/* ========================== Mini BREAKPOINT ========================== */

@media screen and (min-width: 1400px) {
   #rightPanel {
        width: 26%;
    }
}





