/*@import url('https://fonts.googleapis.com/css?family=Aclonica');*/
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

html {
    height: 100%;
}

body {
    width: 100%;
    min-width: 300px;
    margin: auto;
    margin-top:50%;
    background-image: url("../images/swirls.jpg");
}

@keyframes movingHeader{
0% {
    transform: translateY(-0%);
  }
  100% {
        transform: translateY(-40%);
  }
}

@keyframes movingBody{
    0% {
        transform: translateY(-0%);
    }
    100% {
        transform: translateY(-10%);
    }
}

pageHeader {
    /*rename me here, in index and in in javascripts*/
    font-family: 'Leckerli One', cursive;
    width: 100%;
    /*width: 60%;*/
    /*max-width: 300px;*/
    padding-bottom:0.5em;
    min-width: 200px;
    margin: 0em;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 1em;
}


#name {
    font-family: 'Caveat Brush', cursive;
    font-size: 3em;
    margin: 0em 0em 0.5em 0em;
}

#type {
    margin-left: 1em;
    font-style: italic;
}

#topBanner {
    padding: 1em 0em 1em 0em;
    margin: auto;
    width: 100%;
}

#searchBox {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 25px;
    padding: 0.5em;
}

#searchInput {
    padding: 0.5em;
    border: none;
    outline: none;
    width: 82%;
}

#mainBody {
     /*before search*/ 
     display: none;
    /*display: block;*/  
    padding: 2em;
    /*border: solid 0.5em #32cd32;*/
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

footer {
    /*background-color: #32cd32;*/
    height: 2em;
    /*border-radius: 0px 0px 25px 25px;*/
}

.tab [type=radio] {
    display: none;        /* Gets rid of bullet point and just leaves the label*/
}

.content {
    padding-bottom: 2em;
}

#origin {
    height: 12em;
}

#map {
  /*height: 200px;*/
  height: 100%;
  width: 100%;
  /*width: 200px;*/
 }

 .navigationList {
    list-style: none;
    margin: auto;
    padding: 0em;
    /*float: left;*/
 }
 
 .navigationList li{
     display: inline;
 }
 
 .navigationButton {
     border-radius: 25px;
     width: 2em;
     height: 2em;
     border: 0.15em solid white;
     background-color: gray;
     color: white;
     -webkit-transition: border 0.25s; 
    transition: border 0.25s;
 }
 
.navigationButton:hover {
    background-color: #AFDCEC;
    border: 0.15em solid #AFDCEC;
 }

/* ========================== FIRST BREAKPOINT ========================== */
@media screen and (min-width: 500px) {
    /* styles for above mobile sizes  - can add hover comands here*/

    @keyframes movingHeader{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-45%);
        }
    }

    @keyframes movingBody{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-18%);
        }
    }
    
    body {
        width: 90%;
        margin: auto;
        padding: 1em 0em 1em 0em;
    }
    
    #mainBody {
        overflow: auto; 
    }
    
    pageHeader {
        padding-top:25%;
    }
    
    #searchInput {
        width: 88%;
    }

    #tabs {
        position: relative;   /* Puts content underneath these*/
        min-height: 500px;    /* Keeps the minimum height needed for the whole thing */
        margin: 25px;       /* Needed to move tabs down*/
        width: 100%;
    }

    .tab {                  /*Puts bullet point labels next to each other*/
        float: left; 
    }

    .tab label {            /* Decoration and padding to make labels look lik tabs*/
        /*background: #eee;*/ 
        padding: 0.75em 1em 0.25em 1em; 
        border-bottom: 0.3em solid gray;
            /*#ccc;*/ 
        display: inline-block;
        vertical-align: middle;
    }

    .content {              /*where details are displayed. Makes box boundaries*/
        position: absolute;
        top: 3em;
        left: 0%;               /*very important! Puts content on top of each other*/ 
        background: white;
        width: 80%;
        height: 80%;
        border: 1px solid #ccc; 
        padding: 1em;
    }

    #origin {
        height: 80%;
    }
    
    [type=radio]:checked ~ label {
        background: white;
        border-bottom: 0.3em solid #AFDCEC;
    }
    [type=radio]:checked ~ label ~ .content {
        z-index: 1;                       /*Makes content priority for when the check box is selected*/
    }
}


/* ========================== Middle BREAKPOINT ========================== */
@media screen and (min-width: 750px) {
    /* styles for above mobile sizes  - can add hover comands here*/

    body {
        width: 80%;
        margin: auto;
    }

    #rightPanel {
        float: right;
        width: 25%;
        border: 5px solid red;
        margin: auto;
    }

    #tabs {
        float: left;
        width: 73%;
        margin: 0em;
    }
    
      @keyframes movingHeader{
        0% {
            transform: translateY(-0%);
}
        100% {
            transform: translateY(-48%);
        }
    }

    @keyframes movingBody{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-22%);
        }
    }
}


/* ========================== Last BREAKPOINT ========================== */
@media screen and (min-width: 960px) {
    /* styles for above mobile sizes  - can add hover comands here*/

       @keyframes movingHeader{
        0% {
            transform: translateY(-0%);
}
        100% {
            transform: translateY(-60%);
        }
    }

    @keyframes movingBody{
        0% {
            transform: translateY(-0%);
        }
        100% {
            transform: translateY(-32%);
        }
    }
    
    body {
        width: 70%;
        margin: auto;
    }

    #searchBox {
        width: 50%;
    }

    #topBanner {
        padding: 2em 0em 1em 0em;
    }
}